.vb{
    margin: auto;
    height: 700px;
    width: 90%;
    border: 3px solid #73AD21;
    margin-top: 30px;
    text-align: center;
    background-color: white;
    border-radius: 2rem;
    overflow: scroll;
    overflow-x: hidden;
    
    
}

.search,input{
    font-size: 50%;
    
    height: fit-content;
    margin-top:20px;
    width: 30%;  
}


.button{
    margin-top: 150px;
    height: 50px;
    font-size: 20px;
}

.content{
    width: 80%;
     margin: 20px auto;
     overflow-x: hidden;
     border: 2px solid blue;
     font-family: sans-serif;
     border-radius: 0.5rem;
     align-items: center;

}


.span{
    color: cornflowerblue;
    float: left;  
}

.play{
    float: right;
    color: rgb(42, 196, 80);
}

.h1{
    color: rgb(34, 5, 5);
}